<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningDiaryApp</title>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="hero">
        <nav class="navbar navbar-expand-lg navbar-light mb-5">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/logo_transparent.png" width="120" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav border-0 p-3 mr-4">

                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link dropdown-toggle text-dark" id="navbardrop" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Topic">Topics</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="Topics/Create">Add new Topic</a>
                            <a class="dropdown-item" href="#">Edit or Delete Topics</a>
                            <a class="dropdown-item" href="Topics/Index">Show All Topics</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" id="navbardrop" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Topic">Tasks</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Add new Task</a>
                            <a class="dropdown-item" href="#">Edit or Delete Tasks</a>
                            <a class="dropdown-item" href="#">Show All Tasks</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>


                </ul>
            </div>

        </nav>
        <div class="text-center hero-text">


            <h1 class="main-title display-1">Learning Diary</h1>
            <input class="searchbar" type="search" placeholder="search topics.." /> <input class="searchButton" type="submit" value="Search" />
            <div class="text-center p-3">
                <button href="#content" type="button" class="btn btn-light">Five latest topics</button>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 main-content" id="content">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center text-muted border-0">
        <div class="container">
            &copy; 2022 - LearningDiaryApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
